{% load i18n %}
<form action="{% url 'api:messages' %}" method="POST" role="form" class="email-form mt-4">
  {% csrf_token %}
    <div class="row">
      <div class="col-md-6 form-group">
        <input value="Enrique Rodriguez" type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
      </div>
      <div class="col-md-6 form-group mt-3 mt-md-0">
        <input value="enrique.rodriguez9@upr.edu" type="email" class="form-control" name="address" id="address" placeholder="Your Email" required>
      </div>
    </div>
    <div class="form-group mt-3">
      <input value="subject" type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
    </div>
    <div class="form-group mt-3">
      <textarea class="form-control" name="body" rows="5" placeholder="Message" required>this is the message body</textarea>
    </div>
    <div class="my-3">
      <div class="loading">Loading</div>
      <div class="error-message"></div>
      <div class="sent-message">{% trans "Your message has been sent. Thank you!" %}</div>
    </div>
    <div class="text-center"><button type="submit" class="g-recaptcha" data-callback="sendMessage" data-sitekey="{{ captcha_site_key }}" data-action='submit'>{% trans "Send Message" %}</button></div>
</form>