{% load static %}
<!-- Vendor JS Files -->
<script src="{% static 'app/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'app/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'app/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'app/assets/vendor/purecounter/purecounter.js' %}"></script>
<script src="{% static 'app/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'app/assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
<script src="{% static 'app/assets/vendor/type.js/type.js' %}"></script>

<!-- reCAPTCHA -->
<script src="https://www.google.com/recaptcha/api.js"></script>


<!-- Template Main JS File -->
<script src="{% static 'app/assets/js/main.js' %}"></script>
<script>
    
    function sendMessage(token) {
        let thisForm = document.querySelector('.email-form');
        let formData = new FormData( thisForm );
        let action = thisForm.getAttribute('action');

        thisForm.querySelector('.loading').classList.add('d-block');
        thisForm.querySelector('.error-message').classList.remove('d-block');
        thisForm.querySelector('.sent-message').classList.remove('d-block');

        formData.set('recaptcha-response', token);
        email_form_submit(thisForm, action, formData);
    }

    function email_form_submit(thisForm, action, formData) {
        console.log(formData)
        fetch(action, {
            method: 'POST',
            body: formData,
        }).then(response => {
            if( response.ok || response.status == 400 ) return response.json();
            else throw new Error('Message could not be sent. Please try again later.');
        }).then(data => {
            thisForm.querySelector('.loading').classList.remove('d-block');
            if ( !('error' in data ) ) {
                thisForm.querySelector('.sent-message').classList.add('d-block');
                thisForm.reset();
            } else throw new Error(data.detail);
        }).catch(error => displayError(thisForm, error));
  }

  function displayError(thisForm, error) {
    thisForm.querySelector('.loading').classList.remove('d-block');
    thisForm.querySelector('.error-message').innerHTML = error;
    thisForm.querySelector('.error-message').classList.add('d-block');
  }
    
</script>