{% load static %}
<!-- Vendor JS Files -->
<script src="{% static 'app/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'app/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'app/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'app/assets/vendor/purecounter/purecounter.js' %}"></script>
<script src="{% static 'app/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'app/assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
<script src="{% static 'app/assets/vendor/type.js/type.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'app/assets/js/main.js' %}"></script>
<script src="{% static 'app/assets/js/form.js' %}"></script>